* {
    font-family: 'faunces', serif;
    color: #797A7E;
}

body {
    margin: 0;
    background-color: #E0ECE4;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculadora {
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 160px repeat(5, 75px);
    background-color: #F7F2E7;
    padding: 15px;
    border-radius: 32px;
    box-shadow: 15px 10px 0px 5px #00000033;
}

button {
    cursor: pointer;
    margin: 5px;
    padding: 0;
    border-radius: 32px;
    font-size: 1.5em;
    border: none;
    background-color: #F7F2E7;
    box-shadow: 5px 5px 10px -3px #00000040, -5px -5px 15px 3px #eeeeee85;
}

button:active {
    background-color: #d8d8d8;
}

button:focus {
    outline: none;
}

.display {
    grid-column: 1 / -1;
}